{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#    <link rel="stylesheet" href="{{ asset('css/fix-admin.css') }}" type="text/css" media="all" />#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ getJavascripts() }}
    <script>
        var _locale = "{{ app.request.locale }}";
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ asset('js/add-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}?locales={{ app.request.locale }}"></script>
    {{ getJavascripts() }}
{% endblock %}